/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-gutter: var(--vp-c-divider);
  --vp-code-block-bg: rgba(125, 125, 125, 0.04);
  --vp-code-tab-divider: var(--vp-c-divider);
  --vp-code-copy-code-bg: rgba(125, 125, 125, 0.1);
  --vp-code-copy-code-hover-bg: rgba(125, 125, 125, 0.2);
  --vp-c-disabled-bg: rgba(125, 125, 125, 0.2);
  --vp-code-tab-text-color: var(--vp-c-text-2);
  --vp-code-tab-active-text-color: var(--vp-c-text-1);
  --vp-code-tab-hover-text-color: var(--vp-c-text-1);
  --vp-code-copy-code-active-text: var(--vp-c-text-2);
  --vp-c-text-dark-3: rgba(56, 56, 56, 0.8);
  --vp-c-brand-lightest: var(--vp-c-brand-1);

  --vp-c-highlight-bg: var(--vp-c-brand-light);
  --vp-c-highlight-text: var(--vp-c-bg);
}

.dark {
  --vp-code-block-bg: rgba(0, 0, 0, 0.2);
  --vp-c-text-code: #c0cec0;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */
:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-1) 30%,
    var(--vp-c-brand-next)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand-1) 30%,
    var(--vp-c-brand-next)
  );
  --vp-home-hero-image-filter: blur(80px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(120px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(120px);
  }
}

/* Safari has a very bad performance on gradient and filter */
.browser-safari,
.browser-firefox {
  --vp-home-hero-image-background-image: transparent;
  --vp-home-hero-image-filter: '';
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */
:root {
  --vp-custom-block-tip-border: var(--vp-c-brand-1);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}
.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand-1);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */
.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image {
  z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}

/* .vitepress\theme\style\var.css */
/* 提示框背景颜色 */
:root {
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
}

/* 提示框 */
.custom-block.tip {
  border-color: var(--vp-c-green-2);
}

/* 警告框 */
.custom-block.warning {
  /* border-color: #d97706; */
  border-color: var(--vp-c-yellow-2);
}

/* 危险框 */
.custom-block.danger {
  /* border-color: #f43f5e; */
  border-color: var(--vp-c-red-2);
}

/* .vitepress\theme\style\var.css */
/* 引用块 */
.vp-doc blockquote {
  border-radius: 5px;
  padding: 10px 16px;
  background-color: var(--vp-badge-danger-bg);
  position: relative;
  border-left: 4px solid #e95f59;
}

.text-color-red {
  --color-red: 254 45 70;
  --tw-text-opacity: 1;
  color: rgb(var(--color-red)/var(--tw-text-opacity));
}

.text-color-orange {
  --color-orange: 255 102 0;
  --tw-text-opacity: 1;
  color: rgb(var(--color-orange)/var(--tw-text-opacity));
}

.text-color-yellow {
  --color-yellow: 250 169 14;
  --tw-text-opacity: 1;
  color: rgb(var(--color-yellow)/var(--tw-text-opacity));
}

.text-color-gray {
  --color-gray: 145 149 163;
  --tw-text-opacity: 1;
  color: rgb(var(--color-gray)/var(--tw-text-opacity));
}

.mr-\[6px\] {
  margin-right: 6px;
}

/* .vitepress\theme\style\var.css */
h1 {
  background: -webkit-linear-gradient(-45deg, var(--vp-c-brand-1) 5%, var(--vp-c-brand-next) 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
